<!DOCTYPE html>
<html>

<head>
  <title>
    <%= productName %>
  </title>

  <meta charset="utf-8" />
  <meta name="description" content="<%= productDescription %>" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="msapplication-tap-highlight" content="no" />
  <meta name="viewport"
    content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>" />

  <!-- active report -->
  <link rel="stylesheet" href="/ar-js-theme/ar-js-ui.css" type="text/css" />
  <link rel="stylesheet" href="/ar-js-theme/ar-js-designer.css" type="text/css" />
  <script src="https://cdn.mescius.com/activereportsjs/4.latest/dist/ar-js-core.js"></script>
  <script src="https://cdn.mescius.com/activereportsjs/4.latest/dist/ar-js-designer.js"></script>
  <link rel="stylesheet" href="/ar-js-theme/ar-js-viewer.css" type="text/css" />
  <script src="https://cdn.mescius.com/activereportsjs/4.latest/dist/ar-js-core.js"></script>
  <script src="https://cdn.mescius.com/activereportsjs/4.latest/dist/ar-js-viewer.js"></script>
  <script src="https://cdn.mescius.com/activereportsjs/4.latest/dist/ar-js-pdf.js"></script>
  <script src="https://cdn.mescius.com/activereportsjs/4.latest/dist/ar-js-tabular-data.js"></script>
  <script src="https://cdn.mescius.com/activereportsjs/4.latest/dist/ar-js-html.js"></script>

  <!-- web data rocks -->
  <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="https://cdn.webdatarocks.com/latest/theme/teal/webdatarocks.min.css" />
  <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
  <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>

</head>

<body>
  <!-- quasar:entry-point -->
</body>

</html>
